.le.ini
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
CMakeLists.txt.user
libfptu.cbp
Testing/
VERSION
cmake_install.cmake
gtest/
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/cmake_install.cmake
src/libfptu.a
test/CMakeFiles/
test/CTestTestfile.cmake
test/Makefile
test/Testing/
test/c_mode
test/cmake_install.cmake
test/ut_0trivia
test/ut_1create
test/ut_2upsert
test/ut_3iterate
test/ut_4fetch
@*/
