[submodule "submodules/libfptu"]
	path = submodules/libfptu
	url = https://github.com/leo-yuriev/libfptu
[submodule "submodules/libmdbx"]
	path = submodules/libmdbx
	url = https://github.com/ReOpen/libmdbx
[submodule "submodules/t1ha"]
	path = submodules/t1ha
	url = https://github.com/PositiveTechnologies/t1ha
